<div *ngFor="let video of videos"
  [routerLink]=""
  [queryParams]="{ videoId: video.id }"
  [class.selected]="video.id === (selectedVideoId | async)"
>
  <app-video-list-item [video]="video"></app-video-list-item>
</div>
