<form [formGroup]="filters">
  <strong>Filter Video List</strong>
  <div>
    <input id="title" formControlName="title">
    <label for="title">Title</label>
  </div>
  <div>
    <input id="author" formControlName="author">
    <label for="author">Author</label>
  </div>
</form>
