<div class="row">
  <div class="col s3">
    <app-video-list [videos]="videoList | async"></app-video-list>
  </div>
  <div class="col s6">
    <app-video-player></app-video-player>
  </div>
  <div class="col s3">
    <app-stat-filters></app-stat-filters>
  </div>
</div>
