<ng-container *ngIf="videoUrl | async as url">
  <div class="video-container z-depth-2">
    <iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>
  </div>
</ng-container>
